<div
  class="relative flex min-h-screen flex-col"
  style="
    background-image: url(&quot;assets/background-home.png&quot;);
    background-size: cover;
    background-position: center;
  "
>
  <div class="absolute inset-0 bg-black/5"></div>

  <div class="relative z-10 flex min-h-screen">
    <div class="flex w-1/2 flex-col items-start justify-center px-16">
      <span
        class="mb-2 text-5xl font-semibold uppercase tracking-widest text-blue-900"
        >Bem-vindo ao</span
      >
      <span class="mb-4 text-5xl font-black text-white">NaPorta</span>
      
      <div
        class="bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 w-full max-w-md text-center mb-6"
      >
        <p class="font-medium mb-2">Você está no quarto:</p>
        <span class="text-2xl font-bold">302</span>
      </div>
      <p class="text-2xl text-white/70">
        Peça sua refeição sem sair do quarto.
      </p>
    </div>
    
    <div class="flex flex-col items-end justify-center px-16 gap-6">
      <img
        src="assets/images/logo.svg"
        alt="Logo do Hotel"
        class="w-32 h-32 rounded-full border-white dark:border-gray-800 shadow-md mb-4"
      />
      <div class="text-right">
        <span
          class="text-sm font-medium uppercase tracking-widest text-blue-600"
          >Menu do dia</span
        >
        <h2 class="mt-1 text-5xl font-bold text-gray-900">
          Cardápio na<br />palma da mão
        </h2>
      </div>
      
      <p class="max-w-sm text-right text-gray-500">
        Escolha sua refeição favorita e receba no conforto do seu quarto.
      </p>

      <div class="flex gap-2">
        <button
          routerLink="/menu"
          class="inline-flex items-center justify-center bg-gray-900 text-white text-sm font-medium px-6 py-2.5 rounded-md hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-900 focus-visible:ring-offset-2 active:scale-95"
        >
          Ver cardápio
        </button>
        <button
          routerLink="/status"
          class="inline-flex items-center justify-center bg-blue-900 text-white text-sm font-medium px-6 py-2.5 rounded-md hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-900 focus-visible:ring-offset-2 active:scale-95"
        >
          Meus pedidos
        </button>
      </div>

      <span class="text-xs text-gray-400 mt-2">
        Atendimento 24h • Pedido digital
      </span>

    </div>
  </div>
</div>

<!-- <main
  class="flex flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 p-4"
>
  
  <h1 class="text-3xl font-bold mb-1">Na Porta</h1>
  <p class="text-sm text-gray-500 dark:text-gray-400 text-center mb-4">
    Bem-vindo ao serviço de quarto digital
  </p>
  <div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-md p-6 w-full max-w-md text-center mb-6"
  >
    <p class="font-medium mb-2">Você está no quarto:</p>
    <span class="text-2xl font-bold">302</span>
  </div>
  <div class="flex flex-col w-full max-w-md gap-3 mb-6">
    <a mat-raised-button class="w-full" routerLink="/menu">Ver Cardápio</a>
    <a mat-stroked-button class="w-full" color="warn" routerLink="/status">
      Ver Status do Pedido
    </a>
  </div>

  <span class="text-xs text-gray-400 mt-2">
    Atendimento 24h • Pedido digital
  </span>
</main> -->
