<div
  class="flex flex-col items-center justify-center min-h-screen gap-4 bg-black"
>
  <mat-icon style="font-size: 64px; width: 72px; height: 72px; color: #2561d8"
    >sentiment_dissatisfied</mat-icon
  >

  <div class="text-center flex flex-col gap-1">
    <span class="text-7xl font-black text-blue-600">404</span>
    <p class="text-3xl font-medium text-gray-300">Página não encontrada</p>
    <p class="text-2xl text-gray-400">
      O endereço que você tentou acessar não existe.
    </p>
  </div>

  <button
    routerLink="/menu"
    class="inline-flex items-center justify-center bg-white text-black text-sm font-medium px-6 py-2.5 rounded-md hover:bg-gray-100 transition-colors cursor-pointer"
  >
    Ver cardápio
  </button>
</div>
